@model Project.Service.Models.VehicleMake
@{ ViewData["Title"] = "Home Page"; }

<h1 class="text-center">Welcome</h1>
<h4 class="text-center"> Click on a Vehicles or Models page.</h4>


<div>
    <img src="~/lib/Image/auto2.jpg" class="d-block w-100" alt="...">
</div>